.poke-btn{
    margin: 0 auto; /* centrar */
    display: block;
    background-color: #80cccc;
    color: antiquewhite;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
}

#img-michi{
    margin: 0 auto; /* centrar */
    display: block;
    width: 600px;
    height: 400px;
    /* se adapta pero pueda quedar cortada */
    object-fit: cover;
    /* adapta que seccion de la imagen es la que se ve */
    object-position: center;
}