.btn-perrito{
    margin: 0 auto; /* centrar */
    display: block;
    background-color: #80cccc;
    color: antiquewhite;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#img-perrito{
    margin: 0 auto; /* centrar */
    display: block;
    width: 300px;
    height: 100%;
}